* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}

#in227o {
    background-color: rgb(255, 255, 255);
}

.logo path {
    pointer-events: none;
    fill: none;
    stroke-linecap: round;
    stroke-width: 7;
    stroke: rgb(255, 255, 255);
}

.wechat-group img {
    max-width: 220px;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
}

.welcome-img img {
    width: 100%;
}

.col-lg-8.col-xl-7.col-xxl-6.mx-auto {
    width: 1500px;
}

.c16408 {
    color: rgb(102, 102, 102);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 30px;
    text-align: left;
    word-spacing: 0px;
    background-color: rgb(255, 255, 255);
}

.c2821 {
    width: 1292px;
}

.btn.btn-lg.btn-primary.rounded.mb-5 {
    text-align: left;
    height: 70px;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.wrapper.bg-light {
    background-color: rgb(255, 255, 255);
}

.c15576 {
    color: black;
    width: 678px;
    height: 361.333px;
}

.lead.fs-24.lh-sm.mb-7.mx-md-13.mx-lg-10 {
    font-size: 50px;
    font-family: "Microsoft Yahei", sans-serif;
}

.htmlpage-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.htmlpage-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.c68679 {
    background-image: url("https://coscdn.htmlpage.cn/sandbox/assets/img/photos/bg3.jpg");
}

.c72460 {
    color: black;
    width: 257px;
    height: 83px;
}

.c87210 {
    background-image: url('https://coscdn.htmlpage.cn/sandbox/assets/img/photos/bg3.jpg');
}

@media (max-width: 768px) {
    .htmlpage-cell {
        width: 100%;
        display: block;
    }
}