<body style="background-color: #5671bf;">

<style>
  .loading {
    pointer-events: none; /* 阻止点击事件 */
    opacity: 0.5; /* 降低可见性 */
  }
  .load {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 8px;
    border: 0.1rem solid transparent;
    border-top-color: rgb(31, 31, 31);
    border-left-color: rgb(31, 31, 31);
    border-bottom-color: rgb(31, 31, 31);
    animation: circle 1s infinite linear;
    -webkit-animation: circle 1s infinite linear; /* Safari 和 Chrome */
    border-radius: 50%
  }
  @-webkit-keyframes circle {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(-360deg)
      }
  }
</style>
<div id="app">
  <div>
    <div style="text-align: center;margin-top: 40px;">
      <span style="font-size: 60px;font-weight: bolder;color: white;">专业报表自动化工具</span>
    </div>
    <div style="margin-top: 40px;place-items: center;">
      <div style="text-align: center;align-content: center;height: 100px;width: 340px;border-radius: 10px;border: 1px solid black;background-color: white;">
        <a @click="onSubmit()" :class="{ loading: isLoading }">
          <span :class="{ load: isLoading }"></span>
          <span style="font-size: 30;font-weight: bold;">一键启动填充</span>
        </a>
      </div>
    </div>
    <div style="text-align: center;margin-top: 40px;">
      <span style="font-size: 25;color: white;">注意：该工具是自动填充报表的引擎工具，填报时请勿关闭，保持开启状态，可以最小化</span>
    </div>
  </div>
</div>

</body>
<!-- import Vue before Element -->
<script src="../static/js/vue.js"></script>
<script src="../static/js/axios.min.js"></script>
<script src="../static/js/base64.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        isLoading: false
      };
    },
    methods: {
      parseUrlParams(url) {
        var searchParams = new URLSearchParams(url);
        var params = {};
        for (var pair of searchParams.entries()) {
            var key = pair[0];
            var value = this.urlsafeB64Decode(decodeURIComponent(pair[1]));
            params[key] = value
        }
        return params;
      },
      urlsafeB64Decode(str) {
        // 将URL安全的Base64编码转换为标准Base64编码
        str = str.replace(/-/g, '+').replace(/_/g, '/');
        // 使用atob函数解码
        return Base64.decode(str);
      },
      onSubmit() {
        this.isLoading = true;
        const parse_dict = this.parseUrlParams(window.location.search);
        const select_name = parse_dict.select_name;
        if (select_name === '山东省统计联网直报平台' || select_name === '信息产业运行监测平台') {
          axios.post('/find_operate_table', {url: window.location.href}).then(res => {
            window.location.href = 'https://xcyb.weihai.cn/api_test/fill_excel' + '?uuid=' + parse_dict.uuid + '&table_name=' + res.data.name
          })
        } else {
          axios.post('/new_api', {url: window.location.href}).then(res => {
            this.isLoading = false;
            if (res.data.status === "ok") {
              this.$message({
                message: '填充成功',
                type: 'success'
              });
            }
          })
        }
      },
    },
  })
</script>